* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "fontCrash";
}

@font-face {
    font-family: "fontCrash";
    src: url(crash-a-like.ttf);
}

body {
    background-image: url(assets/Background.jpg);
    background-size: cover;
    width: 100%; 
    height: 100vh;
}
#menu {
    border: 2px solid orange;
    width: 150px;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 30px;
    li {
        color: orange

    }
}

/* imagens */
#imgPrincipal{
    margin-top: 50px;
    margin-left: 20px;
    img {
        position: relative;
        width: 400px;
        border: 3px red solid;
    }
}
#jogos {
    display: flex;
    margin-bottom: 20px;
    margin-left: 650px;
    gap: 60px;
    width: 600px;
    img {
        width: 290px;
    }
}
