* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "fontCrash";
}

@font-face {
    font-family: "fontCrash";
    src: url(crash-a-like.ttf);
}

body {
    background-image: url(assets/Background.jpg);
    background-size: cover;
    width: 100%; 
    height: 100vh;
}
#menu {
    width: 218px;
    margin-left: 150px;
    margin-top: 80px;
    ul {
        #li-1 {
            color: white;
            font-size: 65px;
        }
        #li-2 {
            color: orange;
            font-size: 55px;
            margin-left: 25px;
        }
        #li-3 {
            color: orange;
            font-size: 60px;
            margin-left: px;
        }
        #li-4 {
            color: rgb(255, 255, 150);
            font-size: 40px;
        }
        #li-5 {
            color: whitesmoke;
            font-size: 35px;
            margin-left: 40px;
        }
    }
}

/*Imagem Crash*/
#imgPrincipal{
    margin-left: 20px;
    margin-top: 80px;
    img {
        position: relative;
        width: 400px;
    }
}

/* Os dois jogos do lado direito da tela */
#jogos {
    display: flex;
    align-items: center;
    margin-left: 600px;
    width: 600px;
    height: 0px;
    gap: 20px;
    margin-bottom: 40px;
    img {
        width: 290px;
    }
}
footer {
    ul {
        display: flex;
        justify-content: center;
        color: whitesmoke;
        font-size: 30px;
        gap: 50px;
        margin-top: 15vh;
        img {
            width: 25px;
        }
    } 
}

